.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 49px 97px 51px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
  justify-content: center;
  width: 135px;
  height: 100px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  min-width: 238px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;

}

.cover {
  position: relative;
  z-index: 1;
  width: 1100px;
  min-height: 757px;
  padding: 106px 50px 50px 50px;
  color: #fff;
  background:  #a7a7a7 url("../images/cover.jpg") no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__tittle {
  margin-bottom: 106px;
  padding-top: 58px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text_left {
  display: block;
  text-align: left;
}
.aligned-text_center {
  display: block;
  padding-top: 19px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  padding-top: 20px;
  text-align: right;
}



.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cover__description-text {
  margin-right: 107px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}


.lots {
  padding: 180px 50px 52px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  width: 1052px;
  margin-bottom: 30px;
  list-style: none;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2.5px;
  text-transform: uppercase;
}

.card__text {
  margin-top: auto;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 103px 40px 50px 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__title {
  padding: 102px 0 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 688px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 130px 50px 50px 50px;
  font-size: 18px;
}

.footer__address {
  justify-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 4px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}